{% extends 'AmruthaRestaurant/base.html' %}
{% load static %}
{% block title %} About Amrutha Restaurant {% endblock %}

{% block content %}
    <!--About-->
    <div class="about">
        <div class="about1">
            <div class="aboutpara">
                <h1>About Us</h1>
                <h2>Welcome to Hotel Amrutha Vilas</h2>
                <p>We want you to fall in love with our food. That is why we settle for nothing but fresh, premium quality spices and ingredients. Our friendly atmosphere and attentive service and affordable prices will keep you coming back again and again…</p>
                <h3>BEST INDIAN FOOD</h3>
                <p><span>Hotel Amrutha Vilas</span> is the best Indian food restaurant in Nashua area. It is renowned for its rich diversity and flavorful dishes. From the creamy Butter Chicken to the aromatic Biryani and spicy Chole, there is something to tantalize every palate. Vegetarian options like Palak Paneer and Dosa showcase the abundance of flavors and textures in Indian cooking, while street foods like Pani Puri offer a delightful burst of flavors in every bite. Tandoori Chicken, with its tender, smoky charred exterior, reflects the mastery of traditional cooking techniques. Whether you are indulging in the fragrant spices of Rogan Josh or enjoying the crispiness of dosa, Indian cuisine offers a culinary journey that is both satisfying and unforgettable.</p>
                <h3>BANQUET FACILITY</h3>
                <p>Banquet facility available for parties with seating capacity up to 200 people. Our banquet facility offers a versatile and elegant space for hosting a wide range of events, from weddings to corporate gatherings. Equipped with state-of-the-art amenities and supported by dedicated event coordinators, these facilities provide the perfect setting for creating memorable experiences. Whether it is a small gathering or a grand celebration, banquet facilities ensure every detail is expertly managed, allowing hosts and guests to focus on enjoying the occasion.</p>
                <h3>CATERING SERVICE</h3>
                <p>We do catering for all occasions of your family, office, or personal parties. Our catering services provide delicious food and impeccable service for events, offering diverse menu options and attentive staff to ensure a seamless experience for hosts and guests alike.</p>
            </div>
            <div class="aboutimg">
                <img src="{% static 'AmruthaRestaurant/images/about1.png' %}" alt="about1">
            </div>
            <div class="gallery">
                <img src="{% static 'AmruthaRestaurant/images/Banquet_Photo1.webp' %}" alt="Photo1">
                <img src="{% static 'AmruthaRestaurant/images/Banquet_Photo2.webp' %}" alt="Photo2">
                <img src="{% static 'AmruthaRestaurant/images/Banquet_Photo3.webp' %}" alt="Photo3">
                <img src="{% static 'AmruthaRestaurant/images/buffet1.jpg' %}" alt="Photo4">
                <img src="{% static 'AmruthaRestaurant/images/buffet2.jpg' %}" alt="Photo5">
                <img src="{% static 'AmruthaRestaurant/images/buffet3.avif' %}" alt="Photo6">
            </div>
        </div>

        <!-- chef's profiles -->
        <div class="about2">
            <h1>Our Golden Chefs</h1>
            <div class="food-items">
                <div class="item">
                    <div>
                        <img src="{% static 'AmruthaRestaurant/images/chef1.png' %}" alt="Food item">
                    </div>
                    <h3>Chef. Saravanan</h3>
                    <p>An experienced individual specialized in preparation of food entrees</p>
                </div>
                <div class="item">
                    <div>
                        <img src="{% static 'AmruthaRestaurant/images/chef2.png' %}" alt="Food item">
                    </div>
                    <h3>Chef. Aishwarya</h3>
                    <p>An excellent and beautiful human being for the preparation of Appetizers</p>
                </div>
                <div class="item">
                    <div>
                        <img src="{% static 'AmruthaRestaurant/images/chef3.png' %}" alt="Food item">
                    </div>
                    <h3>Chef. Pascol</h3>
                    <p>The best in industry Dosa Maker</p>
                </div>
                <div class="item">
                    <div>
                        <img src="{% static 'AmruthaRestaurant/images/chef4.png' %}" alt="Food item">
                    </div>
                    <h3>Chef. Alexandro</h3>
                    <p>An experienced individual specialized in Tandoori section</p>
                </div>
            </div>
        </div>

        <!-- Company stories -->
        <div class="about3">
            <h1>Our Story</h1>
            <h2>Hotel Amrutha Vilas: A Culinary Journey of Success</h2>
            <h3>The Beginning: A Dream Takes Shape</h3>
            <p>In 2019, Ameer and Satish embarked on a culinary adventure, opening "Hotel Amrutha Vilas" in the heart of Nashua. With their roots deeply embedded in India’s rich culinary traditions, they dreamed of creating a restaurant that offered an authentic and unforgettable Indian dining experience.</p>
            <h3>Crafting the Perfect Menu</h3>
            <p>Ameer, an experienced chef, and Satish, a master of spices, meticulously crafted a menu showcasing the diverse flavors of India. From aromatic Hyderabadi biryanis to spicy Punjabi curries and tangy Mumbai chaats, each dish was made using fresh, high-quality ingredients and traditional cooking techniques.</p>
            <h3>Opening Day: A Taste of India</h3>
            <p>Opening night in June 2019 was a resounding success, with patrons instantly falling in love with their signature butter chicken, perfectly spiced samosas, and fragrant biryanis. The couple’s warm hospitality and dedication to quality quickly earned them a loyal customer base.</p>
            <h3>Overcoming Challenges</h3>
            <p>The global pandemic in 2020 presented significant challenges, but Ameer and Satish adapted by introducing a robust takeout and delivery service, ensuring their food reached customers’ homes with the same quality and care. Their efforts paid off, allowing The Spice Symphony to thrive even in tough times.</p>
            <h3>Expansion and Community</h3>
            <p>By 2022, the restaurant expanded to accommodate more diners and introduced a catering service for events and celebrations. Today, in 2024, The Hotel Amrutha Vilas is a culinary landmark in Nashua, celebrated for its authentic flavors, innovative specials, and community engagement. Ameer and Satish’s journey from dream to reality, marked by resilience and passion, continues to inspire and delight all who walk through their doors.</p>
        </div>
    </div>

    <!--Footer-->
    <div class="contact-us">
        <h1>Contact Us</h1>
        <div class="contact-container">
            <div class="contact-info">
                <h2>Our Location</h2>
                <p>420 S Main Street<br>Nashua, New Hampshire - 03060</p>
                <p>Phone: (123) 456-7890</p>
                <a href="mailto:info@restaurant.com">Email Us: hotelamruthavilas99@gmail.com</a>
                <h2>Opening Hours</h2>
                <h4>Monday - Friday</h4>
                <p>Lunch: 11:30 AM - 02:30 PM</p>
                <p>Dinner: 05:00 PM - 10:00 PM</p>
                <h4>Saturday-Sunday</h4>
                <p>Lunch: 12:00 AM - 03:30 PM</p>
                <p>Dinner: 05:00 PM - 10:00 PM</p>
            </div>
            <div class="map-container">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2912.0682385873996!2d-71.4575736!3d42.7385727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3b0be37873ad3%3A0xe2805409ed64107a!2s420%20Main%20St%2C%20Nashua%2C%20NH%2003060%2C%20USA!5e0!3m2!1sen!2sus!4v1691500416819!5m2!1sen!2sus"
                    width="700" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
{% endblock %}
