{% extends 'AmruthaRestaurant/customer_base.html' %}
{% load static %}

{% block title %}Customer Menu{% endblock %}

{% block content %}
<div class="menu">
    <div class="menu1">
        <div>
            <h1>Food Menu</h1>
        </div>
        <div class="fav-head">
            <!-- Add your all food items  -->

            <div class="fav-food">
                 {% for item in menu_items %}
                <div class="item">
                    <div>

                        <img src="{{ item.image.url }}" alt="Food Item">
                    </div>
                    <h3>{{ item.name }}</h3>
                    <p>{{item.description }} </p>
                    <p class="fav-price">{{item.price }} </p>
                    <a href=""><button class="red_btn">Add to Cart</button> </a>
                </div>

 {% endfor %}
            </div>

        </div>
    </div>
</div>
{% endblock %}
