{% extends 'AmruthaRestaurant/base.html' %}
{% load static %}
{% block title %}Home | Amrutha Restaurant{% endblock %}

{% block content %}
<!--Home Page-->
<div class="home">
    <!--Section 1 (start)-->
    <div class="main_slide">
        <div>
            <h1>Enjoy <span> Delicious Food </span> in Your Healthy Life</h1>
            <p>We want you to fall in love with our food. That is why we settle for nothing but fresh, premium quality
                spices and ingredients. Our friendly atmosphere and affordable prices will keep you coming back again
                and again...</p>
            <button class="red_btn" onclick="window.location.href='menu.html';">Order Now <i
                    class="fa-solid fa-arrow-right-long"></i></button>
        </div>
        <div>
            <img src="{% static 'AmruthaRestaurant/images/main_slide_prev_ui.png' %}" alt="">
        </div>
    </div>
    <!--Section 1 (end)-->

    <!--Section 2 (start)-->
    <div class="food-items">
        <div class="item">
            <div>
                <img src="{% static 'AmruthaRestaurant/images/hyderabadi-biryani.png' %}" alt="Food item">
            </div>
            <h3>Hyderabadi Chicken Biryani</h3>
            <p>Made of long grain basmati rice cooked with succulent pieces of chicken in secrecy of traditional
                Hyderabadi nawabi style cooking.</p>
            <button class="white_btn" onclick="window.location.href='menu.html';">See Menu</button>
        </div>
        <div class="item">
            <div>
                <img src="{% static 'AmruthaRestaurant/images/Tandoori_chicken.png' %}" alt="Food item">
            </div>
            <h3>Tandoori Chicken</h3>
            <p>Chicken marinated in creamy yogurt sauce, spices and cooked in a clay oven for smoky flavor.</p>
            <button class="white_btn" onclick="window.location.href='menu.html';">See Menu</button>
        </div>
        <div class="item">
            <div>
                <img src="{% static 'AmruthaRestaurant/images/chili_paneer.png' %}" alt="Food item">
            </div>
            <h3>Chili paneer</h3>
            <p>Stir fried panner tossed with onions, bell peppers, garlic chili sauce</p>
            <button class="white_btn" onclick="window.location.href='menu.html';">See Menu</button>
        </div>
    </div>
    <!--Section 2 (end)-->

    <!--Section 3 (start)-->
    <div class="main_slide2">
        <div class="foodimg">
            <img src="{% static 'AmruthaRestaurant/images/thali1.png' %}" alt="">
        </div>
        <div class="question">
            <div>
                <h2>Why People Choose Us?</h2>
            </div>
            <div>
                <div class="q-ans">
                    <div>
                        <img src="{% static 'AmruthaRestaurant/images/plate2.png' %}" alt="">
                    </div>
                    <div>
                        <h4>BEST INDIAN FOOD</h4>
                        <p>Hotel Amrutha Vilas is the best Indian food restaurant in Nashua area with lots of different
                            Indian delicacies to select from.</p>
                    </div>
                </div>
                <div class="q-ans">
                    <div>
                        <img src="{% static 'AmruthaRestaurant/images/plate3.png' %}" alt="">
                    </div>
                    <div>
                        <h4>BANQUET FACILITY</h4>
                        <p>Banquet facility available for parties with seating capacity up to 200 people.</p>
                    </div>
                </div>
                <div class="q-ans">
                    <div>
                        <img src="{% static 'AmruthaRestaurant/images/plate4.png' %}" alt="">
                    </div>
                    <div>
                        <h4>CATERING SERVICE</h4>
                        <p>We do catering for all occasions of your family, office or personal parties.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Section 3 (end)-->

    <!--Section 4 (start)-->
    <div class="main_slide3">
        <div class="fav-head">
            <h3>Our Popular Food Items</h3>
            <p>MAKE FOOD, NOT WAR</p>
        </div>

        <div class="fav-food">
            <div class="item">
                <div>
                    <img src="{% static 'AmruthaRestaurant/images/indian-chicken-tikka-masala-bowl_466689-874_prev_ui.png' %}" alt="Food item">
                </div>
                <h3>Chicken Tikka Masala</h3>
                <p>Boneless chicken breast grilled in the tandoor and slow cooked in a creamy tomato sauce</p>
                <p class="fav-price">$16.99</p>
                <button class="white_btn" onclick="window.location.href='menu.html';">Order Now</button>
            </div>
            <div class="item">
                <div>
                    <img src="{% static 'AmruthaRestaurant/images/goat-curry-recipe_prev_ui.png' %}" alt="Food item">
                </div>
                <h3>Goat Curry</h3>
                <p>Goat cooked in onion, tomato, and the spicy sauce</p>
                <p class="fav-price">$17.99</p>
                <button class="white_btn" onclick="window.location.href='menu.html';">Order Now</button>
            </div>
            <div class="item">
                <div>
                    <img src="{% static 'AmruthaRestaurant/images/Saag-Paneer-FF_prev_ui.png' %}" alt="Food item">
                </div>
                <h3>Saag Paneer</h3>
                <p>Healthy, protein & flavor-packed dish of Indian cheese, served in a buttery, spicy & creamy curry
                    made with spinach</p>
                <p class="fav-price">$14.49</p>
                <button class="white_btn" onclick="window.location.href='menu.html';">Order Now</button>
            </div>
            <div class="item">
                <div>
                    <img src="{% static 'AmruthaRestaurant/images/Mysore-Masala-Dosa_prev_ui.png' %}" alt="Food item">
                </div>
                <h3>Mysore Masala Dosa</h3>
                <p>Spiced Crepe smeared inside with spicy chutney and potato masala</p>
                <p class="fav-price">$11.99</p>
                <button class="white_btn" onclick="window.location.href='menu.html';">Order Now</button>
            </div>
        </div>
        <!-- design div  -->
        <div class="dsgn"></div>
    </div>
    <!--Section 4 (end)-->

    <!--Section 5 (start)-->
    <div class="main_slide4">

        <div class="chef-feed">
            <h2>Customer <span style="color: red;">Feedback</span></h2>
            <p>"Was very happy eating here. The food was delicious. I loved it all and they tend to turn down the spice
                levels on default. However, there wasn't any indication of spice level on the menu, so be careful if you
                don't like really spicy food. The paneer Masala and paneer biryani wasn't spicy, but the lentil soup was
                more spicy than some of my fellow diners. The staff is helpful and friendly, so don't be shy asking them
                for help on spice levels. There is a water fountain in the middle of the dining room, which is kind of
                fun. Some kids from a different table got a real kick out of it. I will be fun going back to try the
                buffet on Sunday dinner and Wednesday dinner."</p>
            <div class="chef-detail">
                <div>
                    <img src="{% static 'AmruthaRestaurant/images/review_icon.png' %}" alt="">
                </div>
                <div>
                    <h6>Marilyn Saha</h6>
                </div>
            </div>
            <div class="chef-vic">
                <div>
                    <i class="fa-solid fa-hand-peace"></i>
                    <h4>68</h4>
                    <p>Parties hosted successfully</p>
                </div>
                <div>
                    <i class="fa-solid fa-trophy"></i>
                    <h4>956</h4>
                    <p>Food caterings done</p>
                </div>
            </div>
        </div>
        <div class="chef">
            <img src="{% static 'AmruthaRestaurant/images/chef1.png' %}" alt="">
        </div>
    </div>
</div>
{% endblock %}
