{% extends 'AmruthaRestaurant/base.html' %}
{% load static %}
{% block title %} Customer SignIn | Amrutha Restaurant {% endblock %}

{% block content %}
<h3 style="text-align:center">Sign In</h3>
<style>
    .errorlist {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

</style>
<form method="POST">
    {% if form.non_field_errors %}
        <ul class="errorlist">
            {% for error in form.non_field_errors %}
                <li style="color:red; text-align:center">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% csrf_token %}

    {{ form.email.label_tag }}<br>
    {{ form.email }}<br>

    {{ form.password.label_tag }}<br>
    {{ form.password }}<br>


    <input type="submit" value="Sign In">
    <p id="to-signin">Dont have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
</form>

{% endblock %}